body{
    font-family: 'Roboto Slab', serif;
}
/*============================ TOP SECTION START ======================= */
.nav-bar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 65px;
}
.nav-items{
    margin-left: 140px;
}

.nav-items, .nav-item, a{
    text-decoration: none;
    color: black;
    }
    .nav-item{
        padding-right: 35px;
        font-size: 20px;
    }
.header{
    padding-left:125px;
    font-size: 32px;
    font-weight: 700;
}
.top-section{
    
    display: flex;
    padding: 0 115px 3px 115px;
    
}
.top-left{
    margin: 10px 10px 10px 10px;
    padding: 70px 58px 0px 3px;
}
.head-title{
    margin-bottom: 0;
    font-size: 52px;
    font-weight: 700;
}
.about-influ{
    padding: 1px 149px 10px 1px;
    font-size: 16px;
    font-weight: 600;
}
.pre-book{
    color: white;
    background-color: #000000;;
    border: 0;
    border-radius: 40px;
    padding: 10px 30px;
}
.top-right{
    margin: 54px 25px 1px 32px;
}
.top-right img{
    width: 450px;
    height: 410px;
}
/*======================== TOP SECTION END ============================== */

/* ========================================SECTION-LOGOS START============================================= */
.logos{
    width: 88%;
}
.logo{
    padding:21px 1px 10px 235px;
}
.logo img{
    padding: 10px 30px 10px 30px;
}
hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0 0 0 / 32%), rgba(0, 0, 0, 0));
}
/* ===========================================SECTION-LOGOS END ============================================ */

/*========================================= SECTION-PRODUCTS STARTS ========================================*/
.middle-section{
    width: 1047px;
    /* height: 1662px; */
    margin-left: 260px;
   
    display: grid;
    


}
.collection{
    text-align: center;
    font-size: 35px;
margin-bottom: 50px;
margin-top: 50px;
color: #535050;

}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    Width:329px; 
    Height:476px; 

}
.product{
    border: 0 solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.item-name{
    width: 40%;
    margin-bottom: -14px;
    font-size: 26px;
}
.see-more{
    width: 100%;
    margin-left: 50px;
}
.button{
        text-align: right;
    margin-top: 1120px;
    margin-left: 1050px;
    width: 110px;
    }
    .see-more{
        border: 0;
        font-size: 18px;
    }

/* ===========================================SECTION-PRODUCTS END =================================== */
/*============================================ LAST SECTION START =========================*/
.last-sec{
    display: flex;
    margin-top: 60px;
    padding-left: 250px;
    margin-bottom: 40px;
}
.final-text{
    width: 40% ;
    margin-left: 30px;
}
.final-img img{
    width: 440px;
    height: 270px;
}
.join-now{
    margin-left: 410px;
    margin-top: 50px;
}
.button-2{
    background-color: black;
    color: white;
    padding: 5px 10px;
    width: 100px;
}

/*======================== FOOTER ================ */
.footer{
    background-color: black;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
.footer-text{
    color: white;
}
.f-logo{
    padding-left: 20px;
}


/*========================================== MEDIA QUERY==================================== */
@media only screen and (max-width:688px) {

    .top-section{
        width: 100%;
        display: grid;
   
        grid-template-columns: repeat(1, 1fr);
    }

    .middle-section ,.products{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        }



    /*===========================tablet-devices======================== */
    @media only screen and (min-width:689px) and (max-width:992px) {
        
        .middle-section , .products{
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
            
        }}
        
        .middle-section{
            width: 100%;
            height: 2700px;
        }
 
    }